I am a Research Assistant at <a href="https://kuleuven-kulak.be" target="_blank">KU Leuven Campus Kulak Kortrijk</a>, working on the <a href="https://www.usolvit.be/" target="_blank">usolv-it</a>-platform.
I am part of the <a href="https://kulak.be/algtop" target="_blank">Algebraic Topology &amp; Group Theory</a> research group, which is part of the <a href="https://wis.kuleuven.be/english" target="_blank">Department of Mathematics</a> at KU Leuven.
I obtained my PhD degree on 15 October 2019.
<br /><br />
<h3>Education &amp; employment</h3>
<table class="edutable">
  {% for job in site.data.employment.jobs %}
    <tr>
      <td class="edutdleft">{{ job.start }} - {% if job.end %}{{ job.end }}{% endif %}</td>
      <td class="edutdright">
        {{ job.desc }}<br />
        (at {{ job.loc }})
      </td>
    </tr>
  {% endfor %}
</table>
