<h3>Research interests</h3>
<ul>
  {% for interest in site.data.research.interests %}
    <li>{{interest}}</li>
  {% endfor %}
</ul>
<br /><br />
<h3>Publications</h3>
<ul>
  {% for publication in site.data.research.publications %}
    <li>
      <i>{{ publication.title }}</i>{% if publication.coauthors %} (with {{ publication.coauthors | join: ", " }}){% elsif publication.supervisor %} (supervisor: {{ publication.supervisor }}){% endif %}.
      {% if publication.type=="package" %}
        {{ publication.desc }}, 
        version <b>{{ publication.version }}</b>
        ({{ publication.year }}).
      {% elsif publication.type=="thesis" %}
        {{ publication.kind }}.
        {{ publication.university}} 
        ({{ publication.year }}),
        pp. {{ publication.pages }}.
      {% else %}
        {% if publication.type=="preperation" %}
          In preparation 
          ({{ publication.year }}).
        {% elsif publication.type=="preprint" %}
          Preprint
          ({{ publication.year }}).
        {% elsif publication.type=="accepted" %}
          To appear in {{ publication.journal }}  
          ({{ publication.year }}).
        {% elsif publication.type=="online" %}
          {{ publication.journal }} (advance online publication, {{ publication.year }}).
        {% else %}
          {{ publication.journal }}
          <b>{{ publication.volume }}{% if publication.number %}.{{ publication.number }}{% endif %}</b>
          ({{ publication.year }}),
          pp. {{ publication.pages }}.
        {% endif %}
      {% endif %}
      {% if publication.DOI or publication.arXiv or publication.github or publication.pdf %}
        {% assign links="" | split: "" %}
        {% if publication.arXiv %}
          {% capture link %}
            <a href="https://arxiv.org/abs/{{ publication.arXiv }}" target="_blank" title="{{ publication.arXiv }}">arXiv</a>
          {% endcapture %}
          {% assign link=link | split: " | " %}
          {% assign links=links | concat: link %}
        {% endif %}
        {% if publication.DOI %}
          {% capture link %}
            <a href="https://doi.org/{{ publication.DOI }}" target="_blank" title="{{ publication.DOI }}">DOI</a>
          {% endcapture %}
          {% assign link=link | split: " | " %}
          {% assign links=links | concat: link %}
        {% endif %}
        {% if publication.github %}
          {% capture link %}
            <a href="{{ publication.github }}" target="_blank" title="{{ publication.github }}">GitHub</a>
          {% endcapture %}
          {% assign link=link | split: " | " %}
          {% assign links=links | concat: link %}
        {% endif %}
        {% if publication.pdf %}
          {% capture link %}
            <a href="./papers/{{ publication.pdf }}.pdf" target="_blank" style="font-weight: bold;">PDF</a>
          {% endcapture %}
          {% assign link=link | split: " | " %}
          {% assign links=links | concat: link %}
        {% endif %}
        <b>[</b>
          {{ links | join: " <b>|</b> " }}
        <b>]</b>
      {% endif %}
    </li>
  {% endfor %}
</ul>
<br /><br />

I make use of <a href="https://www.gap-system.org/" target="_blank">GAP</a> (in particular the <i>CaratInterface</i>, <i>cryst</i>, <i>crystcat</i> and <i>polycyclic</i> packages) and <a href="https://lbfm-rwth.github.io/carat/" target="_blank">CARAT</a> in my research. 
