<aside id="sidebar">
	<div class="photo" style="background-image: url(img/photo.jpg);"></div>
	<h1 id="name">{{ site.data.personal.name }}</h1>
	<nav id="menu" class="navbar">
		<div class="sidebar-main">
			<ul>
				{% for section in site.data.sections.sections %}
					<li><a href="./#section-{{section.url}}">{{section.title}}</a></li>
				{% endfor %}
			</ul>
			<br /><br />
			<div>
				<a title="Follow me on ResearchGate" href="https://www.researchgate.net/profile/{{ site.data.personal.researchGate }}?cp=shp" target="_blank"><img src="https://www.researchgate.net/images/public/profile_share_badge.png" alt="Follow me on ResearchGate" /></a>
			</div>
			<br />
			<div itemscope itemtype="https://schema.org/Person">
				<a href="https://orcid.org/{{ site.data.personal.orcid }}" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">{{ site.data.personal.orcid }}</a>
			</div>
			<br />
			<div>
				<span id="updated">Last updated on: {{ site.time | date: "%e %b %Y" }}</span>
			</div>
		</div>
	</nav>
</aside>
